## In this module we are going to look aggreagate functions in SQL

- Aggregate functions give us summary about our data.
- Makes quick calculations in data set to see what we have
> Using various of aggregate functions are **MIN MAX COUNT AVERAGE** and **SUM** to summarize and analyze data.

- Advantages of using aggregate functions;

1. _Finding the highest and lowest value_
2. _Finding the total number of rows_
3. _Finding the average value_

> **AVG()** Averages a column of values

> **MAX()** Finds the maximum value

> **MIN()** Finds the minimum value

> **SUM()** Sums the column of values

> **COUNT()** Counts the number of values

## **AVERAGE Function**

Rows containing NULL values are ignored by the average function.

In [3]:
SELECT AVG(price) as avg_price -- averages all price column in alters table and giving a meanningful name to our output using alias.
FROM alters

avg_price
608.8181818181819

In [4]:
SELECT AVG(quantity) as avg_quantity
FROM alters

avg_quantity
40