-**Creating Table** with a code  
1. use **CREATE TABLE** statement
1. Give a name to your table like New Table Name
1. In the paranthesis specify your **_column names_** in order 
1. Assign each column _**data type**_
1. and then _**set primary key or allow nulls**_ in the columns  

Let's see how it works in the example,

In [2]:
CREATE TABLE mynewtable -- Our table's name will be mynewtable
(
    id char(10) PRIMARY KEY, -- id column with character data type and allowing maximum 10 characters long and setted as a Primary Key
    brand char(15) NOT NULL, -- brand column with character data type and allowing maximum 15 characters long and not allowing the NULL values
    price decimal(8,2) NOT NULL -- price column with decimal data type and allowing 8 digits long before decimal point and 2 digits after decimal point like 12345678.00
)

In [3]:
SELECT *
FROM mynewtable

- Let's add some values into our new table. We are going to use **INSERT INTO** statement.  
- We must to specify which value goes to which column in order. Let's see in example below how it works

In [6]:
INSERT INTO mynewtable(
    id,
    brand,
    price)
VALUES (
    '1234567',
    'dmr',
    '925.15')

- Let's check our table again to see new added observation into our table

In [7]:
SELECT *
FROM mynewtable

id,brand,price
1234567,dmr,925.15

- What if we want to add _**more than one row**_ into the table, let's see in the example below

In [ ]:
INSERT INTO mynewtable(
    id,
    brand,
    price
)
VALUES('22','dmr2','1000.17'),
      ('33','dmr3','297.25'),
      ('44','dmr4','546.94')

- Check again new values _**correctly added**_ to our table

In [11]:
SELECT *
FROM mynewtable

id,brand,price
1234567,dmr,925.15
22,dmr2,1000.17
33,dmr3,297.25
44,dmr4,546.94