- _**Creating Temporary Tables**_

1. Why do we need to create temporary tables --- because they are faster then creating real table
1. Temporary tables will be deleted when the session is terminated
1. When you want to use complex queries like subsets and joins temporary tables are useful

1. Using _**SELECT INTO**_ commend

I will use categories table to make a new temporary table.

In [2]:
SELECT *
FROM categories  -- Let's create our temp table using categories table

categoryid,categoryname,description
1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
2,Condiments,"Sweet and savory sauces, relishes, spreads, and seasonings"
3,Confections,"Desserts, candies, and sweet breads"
4,Dairy Products,Cheeses
5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
6,Meat/Poultry,Prepared meats
7,Produce,Dried fruit and bean curd
8,Seafood,Seaweed and fish

In [3]:
SELECT categoryname, description -- Select column names that you are going to create in temporary table
INTO #temp_table -- This is very important step. You HAVE TO USE # before your temporary table name
FROM categories

In [4]:
-- Let's check our new temporary table

SELECT *
FROM #temp_table

categoryname,description
Beverages,"Soft drinks, coffees, teas, beers, and ales"
Condiments,"Sweet and savory sauces, relishes, spreads, and seasonings"
Confections,"Desserts, candies, and sweet breads"
Dairy Products,Cheeses
Grains/Cereals,"Breads, crackers, pasta, and cereal"
Meat/Poultry,Prepared meats
Produce,Dried fruit and bean curd
Seafood,Seaweed and fish

2. _**CREATE TABLE**_ statement does the same thing but importantly we _**HAVE TO USE #**_ before giving name to our temporary table

- Note that : Once we have created our table we need to insert records into our table using [insert into statement](https://github.com/bdemir35/SQL-Learning-Journey/blob/main/CREATE%2520TABLE%2520and%2520INSERT%2520INTO/Create%2520Table%2520and%2520Insert%2520Into.ipynb)

In [12]:
CREATE TABLE #temp_table2 (
    id int PRIMARY KEY,
    name NVARCHAR(15),
    price FLOAT
)

INSERT INTO #temp_table2(
    id, name, price
)

VALUES(1,'A',124.05),
      (2,'B',257.65),
      (3,'C',1000)

In [13]:
-- Let's rerun the query to check new temporary table

SELECT *
FROM #temp_table2

id,name,price
1,A,124.05
2,B,257.65
3,C,1000

After finished everything you need we can simply use _**DROP TABLE**_ (table name) statement to delete our temporary tables

In [14]:
DROP TABLE #temp_table, #temp_table2